<div class="col-4"> 
    <article id="post-{{post.id}}" class="{{ post.class }}">
        <div class="summery_hover">
            <a href="{{ post.link }}" class="article_image" style="background-image: url({{ post.thumbnail.src }})"></a>
        </div>
        <div class="summary_content">
            <div class="summary_title">
                <a href="{{ post.link }}" class="summary_title_link">{{post.title}}</a>
            </div>
            <div class="summary_description">
                {{post.date}}
            </div>
        </div>
    </article><!-- #post-## -->
</div>