<section id="{{id}}">
    <div class="containertofifty">
        <h1 class="centerthetext wowo">{{title}}</h1>
        {# {{dump(project)}} #}
        {% for pro in project.project %}
            {% if pro.acf_fc_layout == "before_and_after" %}
                <h3 class="centerthetext lowercase">:before and :after</h3>
                {% elseif pro.acf_fc_layout == "first_child" %}
                <h3 class="centerthetext lowercase">:first child</h3>
            {% endif %}
            <div class="row projects_row">
                {% for phase in pro.phase %}
                <div class="col-6"> 
                        <article>
                            <div class="article_image shadow">
                                <a href="{{phase.phase_website}}" target="_blank" class="article_image_link project_image">
                                    <div class="viewport" style="background-image: url({{ TimberImage(phase.phase_image).src }});"></div>
                                </a>
                            </div>
                            <div class="summary_content">
                                <div class="summary_title">
                                    <a href="{{phase.phase_website}}" target="_blank" class="summary_title_link">{{phase.phase_title}}</a>
                                </div>
                                <div class="summary_details">
                                    <span class="summary_details_time">{{phase.phase_time}}</span> 
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>